$width: 800px;
$gutter: 25px;

$fg-color: #22778d;
$bg-color: #f8f2e5;
$bg-color: lighten(complement($fg-color), 65);
$text-color: #333;

@import url(http://fonts.googleapis.com/css?family=Oswald);

@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

* {
  box-sizing: border-box;
  font-family: georgia;
  line-height: 1.5em;
}

html,
body {
  background-color: $bg-color;
  color: $text-color;
  margin: 0 0 20px;
}

.width {
  margin-left: auto;
  margin-right: auto;
  max-width: $width;
}

h1,
h2,
h3,
h4 {
  color: #000;
  margin: 15px 0 0;
}

h1,
h2,
h3,
h4,
label,
.footnote,
.btn {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 19px;
}

li {
  margin-bottom: 7px;
  padding-left: 5px;
}

.page__content .submit,
.btn {
  // background: #b20536;
  background: $fg-color;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  padding: 3px 22px 3px 10px;
  position: relative;
  text-decoration: none;
  width: auto;

  &:after {
    $size: 7px;

    border-bottom: $size solid transparent;
    border-left: $size solid #fff;
    border-top: $size solid transparent;
    bottom: 8px;
    content: '';
    height: 0;
    position: absolute;
    right: 7px;
    width: 0;
  }
}

blockquote {
  margin: 5px;

  p:first-of-type:before,
  p:last-of-type:after {
    font-size: 1.5em;
    letter-spacing: -.1em;
    line-height: 0;
    position: relative;
    top: .11em;
  }

  p:first-of-type:before {
    content: '“';
  }

  p:last-of-type:after {
    content: '”';
    right: .1em;
  }

  cite {
    display: inline-block;
    font-size: 1.1em;
    margin: .3em 0 1.2em;
  }
}

//
// Layout
//

.header__upper,
.header__lower,
.content__left,
.content__right,
.footnote {
  padding: 10px;
}

// Part of header with gradient background
.header__upper {
  background: linear-gradient($fg-color, $bg-color);
}

// Part of header with no background
.header__lower {
  text-align: center;

  img {
    border: 1px solid #ff69b4; // FIXME
    display: block;
    height: 200px; // FIXME
    margin: 10px auto;
    width: 200px; // FIXME
  }
}

.page__content {
  @include clearfix();

  margin: 30px 0 0;
}

form {
  display: block;
  margin: 20px auto 30px;
  max-width: 300px;
  width: 80%;

  label {
    display: block;
  }

  input {
    margin-bottom: 10px;
    width: 100%;
  }
}

.footnote {
  display: block;
  font-size: 16px;
  margin: 0 auto;
  max-width: 35em;
  text-align: center;
}

// scrollbar are awful, so we're adding width to the query
@media (min-width: $width + 15px) {
  .content__left,
  .content__right {
    float: left;
  }

  .content__left {
    width: floor($width / 1.6);
  }

  .content__right {
    margin-left: $gutter;
    width: floor($width - $width / 1.6 - $gutter);
  }

  form {
    margin-top: 10px;
  }
}
